<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!--初始化监听器-->
  <bean class="interceptor.ApplicationContextListener"/>
  <!--扫描文件-->

  <context:component-scan base-package="service">
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
  </context:component-scan>
  <!--数据库连接池-->
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="com.mysql.jdbc.Driver"/>
    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/water_detection"/>
    <property name="user" value="root"/>
    <property name="password" value="572439694"/>
    <property name="initialPoolSize" value="3"/>
    <property name="maxPoolSize" value="10"/>
  </bean>

  <!--配置sqlSessionFactory, 并将数据源注入-->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <!--注入数据源-->
    <property name="dataSource" ref="dataSource"/>
    <!--载入mybatis配置文件-->
    <property name="configLocation" value="classpath:mybatis-config.xml"/>
    <!-- <property name="mapperLocations" value="classpath:*.xml"/>-->
  </bean>

  <!--事务管理-->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <!--配置事务通知-->
  <tx:advice transaction-manager="transactionManager" id="transactionInterceptor">
    <tx:attributes>
      <tx:method name="*" propagation="REQUIRED" />
    </tx:attributes>
  </tx:advice>

  <!-- 声明切面-->
  <aop:config>
    <aop:pointcut id="pointcut" expression="execution(* service.*.*(..))"/>
    <aop:advisor advice-ref="transactionInterceptor" pointcut-ref="pointcut" />
  </aop:config>

  <!--创建数据映射器-->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="dao"/>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
  </bean>
  <!--获取Spring上下文 的应用-->
  <bean id="springContextUtil" class="Utils.SpringContextUtil"/>

</beans>