/*css reset code */

/****  文字大小初始化,使1em=10px *****/
body {
font-size:62.5%;
} /* for IE/Win */
html>body {
font-size:10px;
} /* for everything else */

/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
 padding: 0px;
 margin: 0px;
 }
table {
 border-collapse: collapse;
 border-spacing: 0;
 }
fieldset,img {
 border: 0;
 }
 img {
 display:block;
 }
address,caption,cite,code,dfn,th,var {
 font-weight: normal;
 font-style: normal;
 }
ol,ul {
 list-style: none;
 }
caption,th {
 text-align: left;
 }
h1,h2,h3,h4,h5,h6 {
 font-weight: normal;
 font-size: 100%;
 }
q:before,q:after {
 content:'';
 }
abbr,acronym { border: 0;
 }

a {
text-decoration:none;
}
.box-content{
height: 850px;
}


.form-horizontal span{
	font-size:14px;
}
#water_con{
	width: 800px;
	margin: 0px auto;
	
} 
#water_title{
	border-bottom: 1px solid #e4e6eb;
	padding-top:50px;
	padding-bottom: 50px;
}
#water_title h2{
font-size: 16px;
margin-bottom: 10px;

}
#water_title a{
	margin-left: 10px;
}

.water_body h2{
	font-size:20px;
	color: blue;
	margin-top: 30px;
	margin-left: 20px;
}
#water_body1 span{
	display: block;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 10px;
}
#zhibiao_contant{
	width: 760px;
	margin: 0px auto;
}
.zhibiao{
	height: 250px;
	width: 350px;
	float: left;
	padding:10px;
}
.zhibiao h3{
	font-size: 14px;
}
.zhibiao img{
	margin-top:10px;
	margin-right: 10px;
	float:left;
}

#zhibiao1{
	border-bottom: 1px solid #e4e6eb;
	border-right: 1px solid #e4e6eb;
}
.zhibiao p{
	font-size:12px;
	margin-top:10px;
}
#zhibiao2{
	border-bottom: 1px solid #e4e6eb;
	border-left: 1px solid #e4e6eb;
}
#zhibiao3{
	border-top: 1px solid #e4e6eb;
	border-right: 1px solid #e4e6eb;
}
#zhibiao4{
	border-top: 1px solid #e4e6eb;
	border-left: 1px solid #e4e6eb;
}
#biaozhun_title{
	width: 760px;
	margin: 0px auto;
	border-bottom:  1px solid #e4e6eb;
}
#biaozhun_title p{
	font-size: 14px;
	margin-top:10px;
}
#biaozhun_title span{
	display: block;
	font-size:14px;
	margin-top:20px;
	margin-bottom: 10px;
}
#biaozhun_body {
	margin-top:20px;
}
#biaozhun_body h3{
	
	font-size: 14px;
	margin-left: 20px;
	margin-top:10px;


}
#biaozhun_body span{
	display: block;
	margin:5px 40px 10px 30px;

}
#water_body3 span{
	display: block;
	font-size:14px;
	margin:10px 0px 10px 20px;
}
#water_body3 h3{
	margin: 25px 0px 0px 30px;
	font-size: 14px;
}
#water_body3 p{
	font-size: 14px;
	margin:7px 40px  0px 40px;
}